/***************
Universal Selectors
**************/
*{
	margin:0px;
	padding: 0px;
	text-decoration: none;
}
/****************
Body Style 
***************/
body{
	background-color:#19aeff;
	background-size: 100%;
	margin: 0px;
	font-family: 'Nunito', sans-serif;
}

/*******************
divs
******************/
#plus{
 background-color:white;
 color:#19aeff;
 float:right;
 margin-right:30px;
 margin-top: 100px;

}
#minus{
 background-color:#19aeff;
 color:white;
 text-align: center;
 float:left;
 position:absolute;
 bottom:20px;
 left: 20px; 
 border-width: 10px;
}
.square_button{
 width: 100px;	
 height: 100px;
border-style: solid;
 border-color:white;
 border-radius: 20px;
 font-size: 125px;	
 text-align: center;
 line-height: 80px;
 font-weight: bold;
}
/******************
Texts & numbers
******************/
#hint{
	color:white;
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
	letter-spacing: 1px;
}
h1{
	font-size: 120px;
	text-align: right;
	
}
h2{
	color:white;
	font-size: 50px;
	letter-spacing: 1px;

}
.counter{
	color:white;
	text-align: right;
	width: 100%;
	float:right;
	margin-right: 30px;
	font-weight: normal

}
p{
	float:right;
	width:100%;
}