/*******************
Menu Design
*******************/

#menu{
	display:none;
	width:220px ;
	height:200px ;
	position:absolute;
	top:80px;
	right: 50px;
	float:left;
	list-style-type:none;

}
#menu li{
	float:left;
}
.links{
	width:220px ;
	height:30px ;
	color:black;
	background-color:white;
	float: left;
	border-bottom-style: solid;
	border-color: #e2e2e2;
	border-width: 2px;
	text-align: left;
	font-weight: normal;
	padding-left: 10px;
	padding-top: 20px;
}
#icon_button{
	float:right;
	margin-right: 30px;
	margin-top: 20px;
}
